:root {
  --purple: #885df1;
  --gray: rgba(39, 33, 66, 0.4);
  --red: #f65282;
}
body {
  background-color: #f9f7fe;
}
.App {
  font-family: sans-serif;
  background-color: white;
  /* box-shadow: 1px 1px rgb(236, 235, 235); */
  margin: 100px auto;
  max-width: 780px;
}
.input-form {
  background-color: #f9f7fe;
  height: 50px;
}
.search {
  background-color: var(--purple);
  color: white;
  font-weight: 600;
  height: 50px;
}

.search:hover {
  background: var(--purple);
  color: white;
}
.city {
  color: #272142;
}
.weather-details p {
  color: var(--gray);
  line-height: 0.5;
}
.temperature {
  font-size: 80px;
  color: #212121;
}
.unit {
  position: relative;
  top: -34px;
  font-size: 28px;
  color: #212121;
}
.humidity,
.wind {
  color: var(--red);
}
.forecast-days ul li {
  /* text-align: center; */
  list-style-type: none;
  padding: 0 30px;
  color: rgba(39, 33, 66, 0.4);
}
footer div {
  color: var(--gray);
}
footer span a {
  color: var(--purple);
  text-decoration: none;
}
